[submodule "vim/bundle/lightline.vim"]
	path = vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/dracula-theme"]
	path = vim/bundle/dracula-theme
	url = git@github.com:dracula/vim.git
[submodule "vim/bundle/vim-raml"]
	path = vim/bundle/vim-raml
	url = https://github.com/IN3D/vim-raml.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/vim-caddyfile"]
	path = vim/bundle/vim-caddyfile
	url = https://github.com/isobit/vim-caddyfile
[submodule "vim/bundle/deoplete.nvim"]
	path = vim/bundle/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
[submodule "vim/bundle/youcompleteme"]
	path = vim/bundle/youcompleteme
	url = https://github.com/valloric/youcompleteme
