[push]
	default = current
[user]
	email = npotts@users.noreply.github.com
	name = npotts
[url "git@github.com:"]
	insteadOf = https://github.com/
[apply]
  whitespace = warn
[help]
  autocorrect = 1
[status]
  submodule = 1
[color]
  diff = true
  status = true
  branch = true
  interactive = true
  ui = true
  pager = true


[alias] 
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an, %cr)%Creset' --abbrev-commit --date=relative
  rmf = rm -r -f --cached
  chekcout = checkout
  cof = checkout -f
  a = add
  b = branch
  c = commit
  d = diff
  co = checkout
  bl = branch -a
  pl = pull -p
  p = pull -p
  pu = push
  st = status
  S = status
  tags = tag
  cp = cherry-pick
  nuke =  "!f() { git stash push -u; git stash drop; git clean -f -d -x; git clean -f -d -X; git reset --hard; }; f"
  #copr = git fetch origin refs/pull/$1/head:pull-request-$1    git checkout pull-request-$1  }

[core]
  #	editor = code --wait
  excludesfile = ~/.gitignore_global
[rerere]
  enabled = true
[branch]
  autosetuprebase = always
#[includeIf "gitdir:~/projects/Decisiv/"]
#  path = ~/.gitconfig-decisiv
[commit]
	verbose = true

