[push]
	default = current
[user]
	email = npotts@users.noreply.github.com
	name = npotts
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
[url "git@github.com:"]
	insteadOf = http://github.com/
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@git.home.arpa:"]
	insteadOf = https://git.home.arpa.com:3000/
[apply]
  whitespace = warn
[help]
  autocorrect = 1
[status]
  submodule = 1
[color]
  diff = true
  status = true
  branch = true
  interactive = true
  ui = true
  pager = true


[alias] 
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an, %cr)%Creset' --abbrev-commit --date=relative
  rmf = rm -r -f --cached
  chekcout = checkout
  cof = checkout -f
  a = add
  b = branch
  c = commit
  d = diff
  co = checkout
  bl = branch -a
  pl = pull -p
  p = pull -p
  pu = push
  pf = push --force-with-lease
  st = status
  S = status
  tags = tag
  cp = cherry-pick
  nuke =  "!f() { git stash push -u; git stash drop; git clean -f -d -x; git clean -f -d -X; git reset --hard; }; f"
  #copr = git fetch origin refs/pull/$1/head:pull-request-$1    git checkout pull-request-$1  }
  files-delta = "!f() { git diff --name-status | cut -f2; }; f"

[core]
  #	editor = code --wait
  excludesfile = ~/.gitignore_global
[rerere]
  enabled = true
[branch]
  autosetuprebase = always
#[includeIf "gitdir:~/projects/Decisiv/"]
#  path = ~/.gitconfig-decisiv
[commit]
	verbose = true

[pager]
	branch = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[advice]
	addIgnoredFile = false
	addEmptyPathspec = false
[pull]
	rebase = false
