[push]
	default = current
[user]
	email = npotts@users.noreply.github.com
	name = npotts
[url "git@github.com:"]
	insteadOf = https://github.com/


[color]
  diff = true
  status = true
  branch = true
  interactive = true
  ui = true
  pager = true
