source ~/.tmux.d/general.conf
source ~/.tmux.d/keybindings.conf
source ~/.tmux.d/theme.conf


set -g default-terminal "screen-256color"

set -g @nord_tmux_no_patched_font "1"

run-shell "~/.tmux/themes/nord-tmux/nord.tmux"
