export WORKSPACE="${HOME}/Work"
export DOTFILES="${WORKSPACE}/dotfiles"
export EDITOR="vim"

# so many shifty OSs dont export full utils (heres looking to you debian)
export PURE_PROMPT_SYMBOL="λ π"
export PURE_PROMPT_SYMBOL="√π"
setopt prompt_subst #needed since sometimes pure doesnt init properly

PATH="${PATH}:/usr/local/bin:/usr/local/sbin"
source <(antibody init)
antibody bundle < ${HOME}/.antibody-plugins.txt

#source OS-specific options
. ~/.zsh.d/per-os/`uname`

# autoload settings.  If you name the file ".local.zsh"
# changes will be ignored yet loaded 
for i in ~/.zsh.d/autoload.d/*.zsh; do
	. $i
done
