export WORKSPACE="${HOME}/Workspace"
export DOTFILES="${WORKSPACE}/dotfiles"
export GOPATH="${WORKSPACE}/go"
export EDITOR="vim"

# so many shifty OSs dont export full utils (heres looking to you debian)
export PATH="/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin:/usr/local/go/bin:${GOPATH}/bin:${PATH}"
source <(antibody init)
export PURE_PROMPT_SYMBOL="λ"
antibody bundle < ${HOME}/.antibody-plugins.txt

#source OS-specific options
. ~/.zsh.d/per-os/`uname`

source ~/.zsh.d/aliases #useful functions
source ~/.zsh.d/toolchains #import toolchains, if they exist
source ~/.zsh.d/functions #useful functions
source ~/.zsh.d/history #history settings

bindkey -e #yeah yeah yeah, vim + emacs keys

